
.bigfont {
  font-family: "Russo One", sans-serif;
}

.script {
  font-family: "Great Vibes", sans-serif;
}

body {
  background-color: #ffb6c1;
}

@media only screen and (min-width: 30em) {

  .red {
    background-color: #da353c;
  }

  .blue {
    background-color: #8fe1db;
  }

  .unit {
    text-align: center;
  }

}

@media only screen and (min-width: 68em) {

  .blue {
    background-color: #8fe1db;
  }

}
